<footer>
  <div class="container row">
    <div class="col-12 col-lg-4 about">
      <h4>關於 六角西餐廳</h4>
      <p>Curabitur lobortis id lorem id bibndum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar
        lobortis
        nibh lacinia at. </p>
    </div>
    <div class="col-12 col-lg-4 contact">
      <h4>聯絡方式</h4>
      <ul>
        <li><a
            href="https://www.google.com/maps/search/?api=1&query=%E9%AB%98%E9%9B%84%E5%B8%82+%E8%8B%93%E9%9B%85%E5%8D%80+%E4%B8%AD%E6%AD%A3%E4%B8%80%E8%B7%AF"
            target="_blank">高雄市中正一路到底</a></li>
        <li><a href="tel:+886-886-886">+886 886 886</a></li>
        <li><a href="mailto:service@hexschool.com">service@hexschool.com</a></li>
      </ul>
    </div>
    <div class="col-12 col-lg share">
      <a href="#" class=" logo">
        <img src="../assets/images/logo_l.png" alt="">
      </a>
      <div class="socialIcons">
        <a href="#"><i class=" fa-brands fa-square-google-plus" style="color: #db4437;"></i></a>
        <a href="#"><i class="fa-brands fa-square-twitter" style="color: #41abe1;"></i></a>
        <a href="#"><i class="fa-brands fa-square-facebook" style="color: #3a5795;"></i></a>
      </div>
    </div>
  </div>
</footer>