<header>
  <nav class="container">
    <a href="#/home" class="logo">
      <img src="../assets/images/logo_w.png" alt="公司名稱或描述性文字">
    </a>
    <ul>
      <li><a href="#/home">首頁</a></li>
      <li><a href="#/menu">餐點</a></li>
      <li><a href="#/auth/login">登入</a></li>
    </ul>
    <button>
      <i class="fa-solid fa-bars"></i>
    </button>
  </nav>
</header>