<%- include('../components/Banner.ejs') %>
  <section class="container feature topOffset">
    <h3>客人總是在詢問<br> 這麼好吃的秘訣是什麼</h3>
    <div class="row">
      <div class="col-12 col-md-4">
        <img src="../../assets/images/feature_1.png" alt="台灣本土蔬菜">
        <h5>台灣本土蔬菜</h5>
        <p>In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit
          eget elit facilisis tristique. Nam vel iaculis mauris.</p>
      </div>
      <div class="col-12 col-md-4">
        <img src="../../assets/images/feature_2.png" alt="專業米其林廚師">
        <h5>專業米其林廚師</h5>
        <p>Sed ullamcorper tellus erat, non ultrices sem tincidunt euismod. Fusce rhoncus porttitor velit, eu
          bibendum nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan turpis.</p>
      </div>
      <div class="col-12 col-md-4">
        <img src="../../assets/images/feature_3.png" alt="對於專業不能退讓">
        <h5>對於專業不能退讓</h5>
        <p>Fusce rhoncus porttitor velit, bibendum nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis,
          facilisis accumsan turpis.</p>
      </div>
    </div>
  </section>

  <section class="chef">
    <div class="row container ">
      <div class="col-12 col-md-6 imgWrapper">
      </div>
      <div class='col-12 col-md-6 content '>
        <h5>今日主廚：帕金森、梅在帕</h5>
        <p>Tody Chef: Plum in Shock</p><br>
        <p>Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit
          elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies
          sapien. Pellentesque orci lectus, consectetur vel posuere posuere, rutrum eu ipsum. Aliquam eget odio sed
          ligula iaculis consequat at eget orci. Mauris molestie sit amet metus mattis varius. Donec sit amet ligula
          eget nisi sodales egestas. Aliquam interdum dolor aliquet dolor sollicitudin fermentum. Donec congue lorem a
          molestie bibendum.</p>
      </div>
    </div>
  </section>

  <section class="container recommand">
    <h3>聽聽別人的感想</h3>
    <ul class='row'>
      <li class='col-12 col-md-4'>
        <div class="row">
          <div class="col ">
            <img src=" ../../assets/images/avatar_1.png" alt="">
          </div>
          <div class="col-9 col-md-9 msg">
            <h6>高雄一口吃</h6>
            <p>自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。</p>
            <p>-- 產品經理</p>
          </div>
        </div>
      </li>
      <li class='col-12 col-md-4'>
        <div class="row">
          <div class="col">
            <img src=" ../../assets/images/avatar_2.png" alt="">
          </div>
          <div class="col-9 col-md-9 msg">
            <h6>廟口小霸王</h6>
            <p>自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。</p>
            <p>-- 金身道士</p>
          </div>
        </div>
      </li>
      <li class='col-12 col-md-4'>
        <div class="row ">
          <div class="col ">
            <img src=" ../../assets/images/avatar_3.png" alt="">
          </div>
          <div class="col-9 col-md-9 msg">
            <h6>春天也來了</h6>
            <p>自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。</p>
            <p>-- 美麗萬分</p>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <section class=" map">
    <div class="row container">
      <div class="col-12">
        <h3>我們的位置不太夠坐<br>要不要先訂位呢？</h3>
      </div>

      <div class="col-12 col-md-6">
        <img src="../../assets/images/Map.png" alt="">
      </div>


      <form class="col-12 col-md-6">
        <div class="row">
          <div class="col-12"> <label for="name">姓名</label></div>
          <div class="col-12"> <input type="text" name="name" id="name" placeholder="六角講師吃尾牙" required></div>

          <div class="col-12"> <label for="tel">電話</label></div>
          <div class="col-12"> <input type="tel" name="tel" id="tel" placeholder="02-1234567" required></div>

          <div class="col-12"> <label for="email">信箱</label></div>
          <div class="col-12"> <input type="email" name="email" id="email" class="email" placeholder="example@mail.com"
              required></div>

          <div class="col-12"> <label for="people">人數</label></div>
          <div class="col-12"> <input type="number" name="people" id="people" class="number" placeholder="" required>
          </div>

          <div class="col-12"> <label for="vergan">是否需要素食</label></div>
          <div class="col-12 radioGroup">
            <label>是
              <input type="radio" name="vergan" value="yes" required>
            </label>
            <label>否
              <input type="radio" name="vergan" value="no" required>
            </label>
          </div>

          <div class="col-12">
            <input type="reset" value="清空" id="cancel" class="btn btn-secondary">
            <input type="submit" value="送出" id="submit" class="btn btn-primary ">
          </div>

        </div>
      </form>

    </div>
  </section>