<main class="container">

  <div class="content-login">

    <!-- <img src="photos/logo_l.png" alt=""> -->
    <p class="boldtext">享受美食好味道</p>

    <form class="loginbox">
      <p class="boldtext">LOGIN</p>

      <label for="email" class="required">
        Email Address</label>
      <i class="fa-solid fa-envelope"></i>
      <input type="email" name="email" id="email" class="email" placeholder="請輸入您的電子信箱">

      <label for="password" class="required">
        Password</label>
      <i class="fa-solid fa-lock"></i>
      <input type="password" name="password" id="password" class="password" placeholder="請輸入您的密碼">


      <a href="">忘記密碼?</a>

      <div class="btn-box">
        <input type="button" value="註冊" onclick="location.href='register.html'" id="register" class="btn-gray">
        <input type="button" value="登入" id="login" onclick="location.href='market.html'" class="btn-orange">
      </div>
    </form>

  </div>
</main>