<%- include('../components/Banner.ejs') %>
  <main class="topOffset menu container ">
    <div class="row topOffset">
      <div class="col-12 col-md-4 col-lg-3">
        <h5><i class="fa-solid fa-leaf" style="color: #3D1101;">
          </i>線上訂購美食</h5>
        <ul class='categoryList'>
          <li class='active'><a href="#/menu">全部 (23)</a></li>
          <li><a href="#/menu">只愛吃薯條 (18)</a></li>
          <li><a href="#/menu">加熱就可食 (1)</a></li>
          <li><a href="#/menu">不敗漢堡系列 (4)</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-8 col-lg-9">
        <div class="operation">
          <form class="searchbar">
            <input type="text" placeholder="今天我想來點...">
            <a href="#/menu"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
          </form>
          <a href="#/menu" class="gocart">
            <p>結帳去</p>
            <i class="fa-solid fa-cart-shopping">
              <span>8</span>
            </i>
          </a>
        </div>
        <ul class="productList row ">

          <li class='col-12 col-md-6 col-lg-4'>
            <div class="productItem trend">
              <div class="imgWrapper">
                <img src="../../assets/images/product_1.png" alt="">
                <button>
                  <i class="fa-regular fa-heart"></i>
                </button>
              </div>

              <div class="contentWrapper">
                <h6>經典漢堡套餐</h6>
                <p>Classic Hamburger Package</p>
                <span>$120</span>
                <button><i class="fa-solid fa-cart-shopping"> 加入購物車</i></button>
              </div>
              <div class="ribbonposition">
                <div class="ribbonbox">
                  <div class="ribbon">熱銷美食</div>
                </div>
              </div>
            </div>
          </li>
          <li class='col-12 col-md-6 col-lg-4'>
            <div class="productItem trend">
              <div class="imgWrapper">
                <img src="../../assets/images/product_2.png" alt="">
                <button>
                  <i class="fa-regular fa-heart"></i>
                </button>
              </div>

              <div class="contentWrapper">
                <h6>英俊香腸</h6>
                <p>Handsome Sausage</p>
                <span>$1,024</span>
                <button><i class="fa-solid fa-cart-shopping"> 加入購物車</i></button>
              </div>
              <div class="ribbonposition">
                <div class="ribbonbox">
                  <div class="ribbon">熱銷美食</div>
                </div>
              </div>
            </div>
          </li>
          <li class='col-12 col-md-6 col-lg-4'>
            <div class="productItem trend">
              <div class="imgWrapper">
                <img src="../../assets/images/product_3.png" alt="">
                <button>
                  <i class="fa-regular fa-heart"></i>
                </button>
              </div>

              <div class="contentWrapper">
                <h6>漢堡兄弟</h6>
                <p>Hamburg Brothers</p>
                <span>$792</span>
                <button><i class="fa-solid fa-cart-shopping"> 加入購物車</i></button>
              </div>
              <div class="ribbonposition">
                <div class="ribbonbox">
                  <div class="ribbon">熱銷美食</div>
                </div>
              </div>
            </div>
          </li>
          <li class='col-12 col-md-6 col-lg-4'>
            <div class="productItem trend">
              <div class="imgWrapper">
                <img src="../../assets/images/product_4.png" alt="">
                <button>
                  <i class="fa-regular fa-heart"></i>
                </button>
              </div>

              <div class="contentWrapper">
                <h6>完美願望</h6>
                <p>Dragon Ball Package</p>
                <span>$999,999</span>
                <button><i class="fa-solid fa-cart-shopping"> 加入購物車</i></button>
              </div>
              <div class="ribbonposition">
                <div class="ribbonbox">
                  <div class="ribbon">熱銷美食</div>
                </div>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </main>