<%- include('../components/Banner.ejs') %>
  <main class="container topOffset">
    <div class="content-market">
      <div class="sort">
        <i class="fa-solid fa-leaf" style="color: #3D1101;"> 線上訂購美食</i>
        <ul>
          <li><a href="">全部 (23)</a></li>
          <li><a href="">只愛吃薯條 (18)</a></li>
          <li><a href="">加熱就可食 (1)</a></li>
          <li><a href="">不敗漢堡系列 (4)</a></li>
        </ul>
      </div>

      <div class="main">
        <div class="operation">
          <div class="searchbar">
            <input type="text" placeholder="今天我想來點...">
            <a href=""><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
          </div>
          <div class="gocart">
            <a href="">
              <span>結帳去</span><i class="fa-solid fa-cart-shopping"></i>
            </a>
          </div>
        </div>
        <ul class="product-list">
          <li id="product1">
            <div class="ribbonposition">
              <div class="ribbonbox">
                <div class="ribbon">熱銷美食</div>
              </div>
            </div>
            <a class="like" href=""><i class="fa-regular fa-heart"></i></a>
            <div class="productimg "></div>
            <p class="product-name">經典漢堡套餐</p>
            <p class="product-enname">Classic Hamburger Package</p>
            <p class="product-price">$120 </p>
            <a href="" class="addtocart"><i class="fa-solid fa-cart-shopping"> 加入購物車</i></a>
          </li>
          <li id="product2">
            <a class="like" href=""><i class="fa-regular fa-heart"></i></a>
            <div class="productimg"></div>
            <p class="product-name">英俊香腸</p>
            <p class="product-enname">Handsome Sausage</p>
            <p class="product-price">$1,024</p>
            <a href="" class="addtocart"><i class="fa-solid fa-cart-shopping"> 加入購物車</i></a>
          </li>
          <li id="product3">
            <a class="like" href=""><i class="fa-regular fa-heart"></i></a>
            <div class="productimg"></div>
            <p class="product-name">漢堡兄弟</p>
            <p class="product-enname">Hamburg Brothers</p>
            <p class="product-price">$792</p>
            <a href="" class="addtocart"><i class="fa-solid fa-cart-shopping"> 加入購物車</i></a>
          </li>
          <li id="product4">
            <a class="like" href=""><i class="fa-regular fa-heart"></i></a>
            <div class="productimg"></div>
            <p class="product-name">完美願望</p>
            <p class="product-enname">Dragon Ball Package</p>
            <p class="product-price">$999,999</p>
            <a href="" class="addtocart"><i class="fa-solid fa-cart-shopping"> 加入購物車</i></a>
          </li>

        </ul>
      </div>
    </div>

  </main>